body{
    font-family: 'Roboto', sans-serif;
    font-size: medium ;
    background-color: #f7f7f7;
}

.bouton{
    text-align: center;
    background-color: black;
    width: 1000px;
    padding: 30px;
    margin: auto;
    color: white;
    text-transform: uppercase;
}

li{
    padding: 3px;
}

.numero{
    
}

span{
    color: red ;
} 


header{
    background-color : rosybrown;
    margin : 0px ;
}

footer{
    background-color: rosybrown;
}
