body{
    font-family: 'Roboto', sans-serif;
    font-size: medium ;
}

.bouton{
    justify-content: center;
    display: flex;
    font-size: 10px;
}

span{
    color: red ;
} 


header{
    background-color : rosybrown;
    margin : 0px ;
}

footer{
    background-color: rosybrown;
}